@model Resume.Domain.Models.Entities.Experience.Experience


<div class="content-wrapper" style="min-height: 265.6px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">حذف تجربه کاری</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/AdminPanel">داشبورد ادمین</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">حذف اطلاعات تجارب کاری</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="DeleteAnExperience" asp-area="AdminPanel" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Id</label>
                        <input type="text" readonly class="form-control" id="exampleInputEmail1" asp-for="Id">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">عنوان تجربه کاری</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="EperienceTitle">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">مدت زمان کار</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="EperienceDuration">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">نام شرکت</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="CompanyName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">آدرس سایت کشور</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="CompanySite" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">توضیحات</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="Description">
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-danger">حذف</button>
                </div>
            </form>
        </div>
        <!-- /.card -->


    </div>
